*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scrollbar-width:none;
}

html,
body{
    width:100%;
    overflow-x:hidden;
}

.main{
    width:100%;
}

.navbar{
    width:100%;
    min-height:60px;
    background:white;
    position:fixed;
    z-index:1000;
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-wrap:wrap;
    padding:10px 20px;
}

.navbar h1{
    font-size:40px;
}

.navbar ul{
    display:flex;
    gap:25px;
    list-style:none;
}

.navbar ul li{
    list-style:none;
}

.navbar ul a{
    text-decoration:none;
    color:rgb(70,65,65);
}

#one{
    text-decoration:underline 4px;
    color:black;
}

.srchh{
    width:250px;
    height:30px;
    border:none;
    border-radius:10px;
    background:whitesmoke;
    padding-left:10px;
}

.logos{
    display:flex;
    gap:15px;
}

.logos a{
    text-decoration:none;
    color:black;
}

.empty{
    height:100px;
}

.address{
    width:95%;
    margin:auto;
    background:rgb(209,241,175);
    border-radius:20px;
    padding:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.address p{
    text-decoration:underline;
}

#products{
    width:95%;
    margin:20px auto;
    border:1px solid black;
    padding:10px;
}

.product{
    display:flex;
    gap:20px;
    border:1px solid black;
    margin-bottom:15px;
    padding:20px;
}

.product img{
    width:120px;
}

.product-text h2{
    margin-bottom:10px;
}

.product-text p{
    color:gray;
}

.product-text h3{
    margin-top:10px;
    color:#e57373;
}

.actions{
    display:flex;
    gap:30px;
    margin-top:20px;
}

.product1{
    text-align:center;
    padding:20px;
    background:rgb(209,241,175);
    border:1px solid black;
}

@media screen and (max-width:768px){

    .navbar{
        flex-direction:column;
        text-align:center;
    }

    .navbar ul{
        flex-wrap:wrap;
        justify-content:center;
        gap:12px;
        margin-top:10px;
    }

    .srch{
        width:95%;
        margin-top:10px;
    }

    .srchh{
        width:100%;
    }

    .logos{
        margin-top:10px;
    }

    .empty{
        height:180px;
    }

    .address{
        flex-direction:column;
        text-align:center;
        gap:10px;
    }

    .product{
        flex-direction:column;
        text-align:center;
    }

    .product img{
        width:200px;
        margin:auto;
    }

    .actions{
        flex-direction:column;
        gap:10px;
    }
}